body {
  /*background-color: rgb(192,192,192);*/
  background: url("flow.png");
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;  
  text-align: center;
}
strong {
   color: #0b3434;
  font-family: 'Montserrat', sans-serif;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: rgb(122, 20, 20);
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 15px solid rgb(112, 16, 48);
  width: 100%;
}


